body {
    font-family: Verdana, sans-serif;
    font-size: 14px;
    font-style: normal;
    font-weight: normal;
    background-color: #eaeaea;
    margin: 100px;
}

.main {
    background-color: #fff;
    width: 1000px;
    /*height: 550px;*/
    height: auto;
    margin: 0 auto;
    padding: 20px;
}

.title {
    color: #000;
    text-align: center;
    font-size: 18px;
    font-weight: bold;
}

.text {
    padding-left: 50px;
    padding-right: 50px;
}

.login_form {
    /*padding-left: 50px;*/
    text-align: center;
    padding: 10px;
}
#loading_wrapper {
    width: 100%;
    /*display: block;*/
    text-align: center;
    /*position: fixed;*/
    display: none;
}

.login_div {
    width: 350px;
    border: 1px solid #eaeaea;
    margin: 0 auto;
    padding: 10px;
}

.login_fields {
    display: flex;
}

.login_lang_form{
    text-align: center;
}

.login_lang_item {
    margin-left: 1%;
    margin-right: 1%;

    width: 10%;
}


.footer {
    color: #cccccc;
    height: 50px;
    text-align: center;
    margin: 50px;
}

.content {
    height: 300px;
}

.emblem {
    width: 76px;
    height: 77px;
    hspace: 10px;
    vspace: 10px;
}

.error {
    color: red;
}
